.form-hld {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $c-accent-light;
  padding: 50px 20px;
}

.form__header {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
  text-align: center;
  &--accent {
    display: block;
    font-size: 15px;
    color: $c-gray;
  }
}

.form {
  width: 100%;
  max-width: 579px;
  display: flex;
  flex-wrap: wrap;
  button {
    margin-top: 44px;
  }
}

.form__item {
  position: relative;
  width: 100%;
  font-size: 15px;
  &--small {
    width: calc(50% - 12px);
    display: inline-block;
    &:first-of-type {
      margin-right: 24px;
    }
  }
  &--checkbox {
    position: relative;
    input {
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        & ~ .checkbox__custom {
          &:after {
            display: block;
          }
        }
      }
      &[type="checkbox"] {
        &.warning {
          + .checkbox__custom {
            border: 2px solid red;
          }
        }
      }
    }
    .checkbox__custom {
      position: relative;
      flex-shrink: 0;
      display: block;
      margin-right: 12px;
      height: 16px;
      width: 16px;
      background-color: #eee;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        display: none;
        width: 7px;
        height: 11px;
        border: solid $c-accent;
        border-width: 0 3px 3px 0;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    .text {
      font-size: 10px;
      font-weight: 400;
      color: $c-accent-dark;
      line-height: 1.6;
    }
  }
  label {
    color: $c-gray;
    position: absolute;
    top: 17px;
    left: 15px;
    transition: all 0.2s ease;
  }
  .input {
    display: inline-block;
    width: 100%;
    color: $c-black;
    margin-bottom: 20px;
    padding: 23px 15px 7px;
    border: 0;
    box-shadow: 0px 8px 8px 0 rgba(145, 154, 159, 0.16);
    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        top: 12px;
        font-size: 11px;
      }
    }
    &.warning {
      border: 2px solid red;
    }
  }
}

.checkbox__label {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.6;
}

// RESPO

@media only screen and (max-width: 470px) {
  .form__item {
    &--small {
      width: 100%;
      margin: 0 !important;
    }
  }
}
