body {
  position: relative;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($c-black, 0.5);
  z-index: 999;
}

.popup__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: $c-accent;
  transition: background-color 0.2s;
  &:hover {
    background-color: $c-accent-dark;
  }
  cursor: pointer;
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background: $c-white;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
