// -----------------------------------------------------------------------------
// Header of the site/application
// -----------------------------------------------------------------------------

.header {
  position: absolute;
  top: 39px;
  left: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-50%);
  z-index: 20;
  transition: transform 0.3s;
}

.header--scroll {
  position: fixed;
  max-width: 100%;
  padding: 15px 80px 15px 50px;
  top: 0;
  left: 0;
  right: 0;
  background: $c-accent-dark;
  transform: translate(0);
  img {
    width: 40px;
  }
}

.logo {
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  &__element {
    margin-left: 81px;
    font-size: 16px;
    color: $c-white;
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      color: rgba($c-white, 0.7);
    }
  }
}
